In [ ]:
#First, we will create a dictionary with prices and keys for items in a store. 
#We will name the dictionary 'pl' for price-lookup, should be easy for an associate to type compared to something longer. 
#We will also assign a 2-digit code to each item in order to look up a price.

In [1]:
#Now let's create a dictionary and assign keys and values to our items.

In [23]:
#Let's say that the store is selling apples, oranges, eggs, cheese, bread, and butter. All prices are made up.
#These items will be referred to in the system as 01, 02, 03, 04, 05, and 06, respectively.

In [4]:
pl = {'01':0.79,'02':0.89,'03':2.89,'04':3.19,'05':2.19,'06':1.89}

In [5]:
#Hit shitf+enter after typing in your pl keys and prices.

In [6]:
#Now, let's pose as an associate who is looking up a price on bread. All they need to do is type:

In [8]:
pl['05']
#Hitting shift+enter will return:

2.19

In [15]:
#You can also do multiple price lookups at once.
pl['05'], pl['03']
#Then press shift+enter

(2.19, 2.89)

In [16]:
#Let's say the associate forgets the code of the item they are looking up, e.g. if a sticker comes off.
#We can keep the same pl system in place, and add the items themselves to be able to be searched with.

In [21]:
#Type:
apples = '01'
oranges = '02'
eggs = '03'
cheese = '04'
bread = '05'
butter = '06'
#And press s+e

In [22]:
#Now if you forget the code for butter, you can just type:
pl[butter]
#S+e

1.89

In [24]:
#And if you check back to our original list of prices, you'll see we were successful.

In [30]:
#Only submitting the name of the product will yield it's code.
butter

'06'

In [31]:
#You may also add the prices together to find the total price.
pl['06'] + pl['01']

2.6799999999999997

In [32]:
#And you may also add items in multiple quantities to find the total price.
(pl[apples] * 6) + (pl['04'] * 3)

14.31

In [35]:
#If you wanted to see how much the total would be with tax,
#you must first set the tax rate at 8 percent by doing this:
tax = 0.08
twtax = 1.08
#s+e
#We use 1.08 in order to have the grand total of item's price with tax.

In [44]:
#Let's find the total with tax of 2 apples and 3 oranges.
twtax * ((pl['01']*2) + (pl['02']*3))

4.59

In [43]:
#Let's check to make sure we are right:
(pl['01']*2) + (pl['02']*3)

4.25

In [40]:
4.25*tax

0.34

In [42]:
#You will see that it worked.
4.25+.34

4.59

In [47]:
#You may also just use the name of the product.
twtax*((pl[apples]*2) + (pl[oranges]*3))

4.59